<%= form_for(@tasklist) do |f| %>
  <% if @tasklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tasklist.errors.count, "error") %> prohibited this tasklist from being saved:</h2>

      <ul>
      <% @tasklist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title -%>
    <%= f.text_field :title -%>
  </div>

  <%= f.fields_for :tasks, @tasklist.tasks do |ff| -%>
    <%= render "task_fields", f: ff -%>
  <% end -%>

  <div class="field">
    <%= link_to_add_fields "add a task", f, :tasks -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
